<div>
  <h1>Are you ready to start?</h1>

  <p>Press the button below to begin the Battle</p>
  <form action="/name_choice">
    <input type="submit" class="actionButtons" value="START">
  </form>
</div>
