<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Battle form</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel='icon' href='/images/favicon.ico' type='image/x-icon'/ >
  </head>
  <body>
    <div class="header">
    <h1>Toby's pretty rad battle website</h1>
    </div>

    <%= yield %>

  </body>
</html>
