<div>
  <form action="/name_assign" method="post">
    <h1>ENTER PLAYER NAMES</h1>
    <div>
      <h3>Player 1 Name:</h3>
      <input type="text" name="name1" placeholder="Player 1">
      <h3>Player 2 Name:</h3>
      <input type="text" name="name2" placeholder="Player 2">
    </div>
    <input type="submit" class="actionButtons" value="TIME TO FIGHT">
  </form>
</div>
