body
{
	line-height: 1.6em;
	background-color: #17b3cc;
	color: white;
	height: 100%;
}
input[type=text]{
	padding: 20px 26px;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

nav {
	border: 2px solid #e22000;
	height: 300px;
	width: 150%;
	overflow: hidden;
 overflow-y: scroll;
}
.inline {
	padding-top: 20px;
}

.header {
		color: white;
		background-color: #00c3e3;
		font-family:Trebuchet MS;
		font-size: 20;
		padding: 40px 40px;
		margin-bottom: 20px;
		text-align: center;
		font-weight:bolder;
		border: 1px solid	#009cb6;
}
.player1 {
	text-align: center;
  position: relative;
  float:left;
}

.player2 {
	text-align: center;
  position: relative;
  float:right;
}

.poisoned {
	background-color: #7C26E8;
	border: 1px solid #6112C4;
	padding: 5px 10px 5px;
	display: inline;
}
.center_aligning {
	text-align: center;
}

.action_log {
	text-align: center;
	display: inline-block;
	padding-right: 21%;
	padding-left: 17.5%;
	float: center;
}
.actions {
	text-align: center;
  padding-top: 100px
	vertical-align: text-bottom;
}

.actionButtons {
	background-color:#ff3c1c;
	border:1px solid #e22000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	padding:16px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
  display: inline-block;
  margin-bottom: 10px;
	margin-top: 18px;
}
.actionButtons:hover {
	background-color:#e22000;
	border:2px solid #00c3e3;
}
.actionButtons:active {
	position:relative;
	top:1px;
}

.dot {
  background-color: green;
	border: 1px solid #ffffff;
  height: 15px;
  width: 15px;
  border-radius: 50%;
	display: inline-block;
}
